# Git & IDE
.git/
.gitignore
.vscode/
.idea/

# Environment & Credentials
.env
.env.*

# Python Build & Caches
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/

# Testing & Logs
tests/
*.log
